:root {
  --dark-gray: #252427;
  --very-light: #dce2f2;
  --warm-gray: #b4b7bf;
  --cool-gray: #c5ccd9;
  --blue: #707fbc;
}

body {
  background-color: var(--dark-gray);
  font-family: Montserrat, sans-serif;
}

h2 {
  font-size: x-large;
  border-bottom: 1px solid var(--dark-gray);
}

.fancy {
  font-family: Pacifico, sans-serif;
  font-size: larger;
}

.clickable {
  cursor: pointer;
}

.custom-card {
  background-color: var(--blue);
  color: var(--dark-gray);
  width: 75%;
  border: 2px dashed var(--cool-gray);
}

.custom-card p {
  font-weight: bold;
  font-size: large;
}

.custom-btn {
  background-color: var(--cool-gray);
}

.signup-card {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

/* -----navbar----- */
.custom-nav {
  background-color: var(--dark-gray);
}

.custom-nav a {
  color: var(--very-light);
}

.dropdown-menu {
  width: 100%;
}

.tag-list-item {
  text-align: center;
  margin-top:1em;
  margin-bottom: 1em;
}
/* --end navbar -- */

.mymodal {
  background-color: var(--blue);
  color: var(--dark-gray);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed #ccc;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 5;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

/* -----leaflet----- */
.leaflet-container {
  margin: auto;
  height: 500px;
  width: 90%;
  border-radius: 10px;
  z-index: 0;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}
/*-- end leaflet --*/

.display-image {
  max-width: 900px;
  max-height: 1200px;
}